/* GLOBAL STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-weight: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

h1 {
  font-size: 3.5rem;
  font-weight: 300;
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
  line-height: 5.5rem;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: aliceblue;
  text-decoration: none;
}

button {
  background: #4c6e97;
  color: aliceblue;
  border: none;
  padding: 1rem 4rem;
  font-size: 1.8rem;
  border-radius: 1px;
  box-shadow: 2px 2px 2px rgba(27, 27, 27, 0.8);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

button:hover {
  background: rgb(245, 171, 171);
  color: black;
}

button > a:hover {
  color: black;
}

button:focus {
  outline-style: solid;
}

a:focus {
  outline-style: solid;
}

/* HEADER SECTION */

header.main-head {
  min-height: 10vh;
  padding: 0.5rem;
  background: #131c27;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1;
}

#logo {
  font-family: "Courgette", cursive;
  margin-left: 5rem;
}

.main-head nav ul {
  display: flex;
  padding-bottom: 0.5rem;
}

.main-head nav ul li {
  list-style: none;
  margin-right: 5rem;
}

.main-head nav ul li a {
  color: aliceblue;
  text-decoration: none;
  font-size: 1.5rem;
}

.main-head nav ul li a:hover {
  text-decoration: underline;
}

/* HERO SECTION */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
    url("../images/landing-page.jpg");
  background-color: slategray;
  color: aliceblue;
  width: 100%;
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 1px 1px 1px #131c27;
  padding: 3rem;
}

section.hero h2 {
  margin-bottom: 2.5rem;
}

section.hero h3 {
  margin-bottom: 3rem;
  line-height: 4rem;
}

/* LOCATIONS SECTION */
#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.45), transparent),
    url("../images/new-york-page.png") no-repeat center center/cover;
  text-shadow: 1px 1px 1px #131c27;
  color: black;
  position: relative;
  overflow: hidden;
}

.locations-head {
  width: 65%;
  padding: 6.5rem 0 0 5rem;
}

.locations-head h2 {
  margin-bottom: 3rem;
  line-height: 6rem;
  text-decoration: underline;
  text-decoration-thickness: 0.3rem;
}

.locations-head h3 {
  line-height: 4rem;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#1a1717),
    to(#bb8f5d)
  );
  background: -o-linear-gradient(#1a1717, #5c3d19);
  background: linear-gradient(#1a1717, #5c3d19);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* CLOUDS */

.cloud {
  min-height: 25%;
  position: absolute;
  top: 0%;
  right: 0%;
  width: 55%;
  pointer-events: none;
}

.moving-cloud-1 {
  animation: cloudAnimation 5s infinite alternate ease-in-out;
}

.moving-cloud-2 {
  z-index: -1;
  top: 16%;
  opacity: 0.5;
  animation: cloudAnimation-2 6s infinite alternate ease-in-out;
}

/* KEYFRAMES */
@keyframes cloudAnimation {
  from {
    transform: translate(8%, -5%);
  }

  to {
    transform: translate(0%, 0%);
  }
}

@keyframes cloudAnimation-2 {
  from {
    transform: translate(4%, -3%);
  }

  to {
    transform: translate(0%, 0%);
  }
}

/* BENEFITS SECTION */
header.benefits-head {
  color: aliceblue;
  background: #131c27;
  min-height: 40vh;
  padding: 6rem 0 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header.benefits-head h2 {
  margin-bottom: 1rem;
}

header.benefits-head h3 {
  margin: 0 3rem;
  padding-bottom: 5rem;
}

.cards {
  width: 95%;
  min-height: 60vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  color: #131c27;
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  text-align: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.card-icon {
  background: #131c27;
}
.card-icon .route {
  max-width: 12%;
}
.card img {
  max-width: 15%;
  margin: 2rem;
}

.card h4,
.card p {
  padding: 0.75rem;
}

/* Contact Section */
#contact {
  min-height: 93vh;
  background: linear-gradient(rgba(0, 0, 0, 0.45), transparent),
    url("../images/contact-mountain.png") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  color: aliceblue;
  background: rgba(19, 28, 39, 0.8);
  width: 60%;
  border: 0.75rem solid #4c6e97;
  border-radius: 20px;
  text-align: center;
  padding: 2rem;
}

.form-wrapper label {
  margin: 0rem 2rem;
}

.form-wrapper input {
  padding: 0.5rem 0.5rem;
  min-width: 60%;
}

.form-head {
  margin-bottom: 4rem;
}

.name-form,
.email-form {
  margin: 3rem;
}

.form-wrapper button {
  width: 70%;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

/* FOOTER SECTION */
.footer-wrapper {
  min-height: 7vh;
  background: #4c6e97;
  color: aliceblue;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-wrapper h5 {
  font-family: "Courgette", cursive;
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  margin-left: 5rem;
}

.footer-wrapper p {
  margin-right: 5rem;
}

.footer-wrapper ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}
.footer-wrapper ul li {
  list-style: none;
  padding: 0 3rem;
  transition: all 0.3s ease-in-out;
}
.footer-wrapper ul li:hover {
  transform: scale(1.2);
  opacity: 0.7;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1280px) {
  html {
    font-size: 65%;
  }
}
@media screen and (max-width: 940px) {
  html {
    font-size: 50%;
  }
  header.main-head {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: static;
  }
  #logo {
    margin: 2rem 0;
    font-size: 4rem;
  }
  .main-head nav ul li {
    margin: 0 4rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .main-head nav ul li a {
    font-size: 2rem;
  }

  button {
    padding: 2rem 7rem;
    font-size: 2.5rem;
  }
  .moving-cloud-2 {
    top: 5%;
  }
}

@media screen and (max-width: 708px) {
  .locations-head h2 {
    padding-top: 8rem;
    font-size: 6rem;
    line-height: 7.2rem;
  }

  header.locations-head h3 {
    display: none;
  }

  .form-wrapper {
    width: 90%;
    margin: auto;
  }

  .form-wrapper button {
    width: 70%;
  }

  .footer-wrapper {
    flex-direction: column-reverse;
    text-align: center;
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
  }

  .footer-wrapper h5 {
    margin: 1.5rem;
  }

  .footer-wrapper ul {
    width: 90%;
    text-align: center;
    justify-content: center;
  }

  .footer-wrapper ul li {
    padding: 0rem;
    padding: 1rem 5rem;
  }

  .footer-wrapper ul li a img {
    min-width: 2.5rem;
  }
}

@media screen and (max-width: 412px) {
  #logo {
    font-size: 3rem;
  }

  header.main-head nav ul li a {
    font-size: 2rem;
  }
  .main-head nav ul {
    flex-direction: column;
  }

  header.main-head nav ul li {
    /* background: red; */
    padding-bottom: 1rem;
  }

  .main-head nav ul li a {
    font-size: 2.7rem;
  }

  .locations-head {
    padding-left: 1rem;
  }
}
